// Cards
// -------------------------------------------------------------------------- */
.card {
  margin-bottom: 2rem;

  box-shadow: 0 2px 3px rgba($black, 0.16);
  .card-header {
    padding: .8rem 1.25rem;
    // font-weight: 500;
    // color: $gray-700;
  }
  .card-footer {
    border-top: 1px solid $gray-300;
    background-color: transparent;
  }
}

.card-header:first-child {
  border-radius: $card-border-radius;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.card-flush {
  padding: 0.875rem 1.25rem;
}