// Custom Navbar
// -------------------------------------------------------------------------- */
.navbar-app {
  background-color: $white;
  box-shadow: 0 2px 4px rgba($black, 0.04);

  i {
    opacity: 0.6;
  }
}

// Dashboard Nav
// -------------------------------------------------------------------------- */
.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: $nav-link-color;

  svg {
    fill: currentColor;
    margin-right: 15px;
    color: $gray-500;
    flex-shrink: 0;
  }

  &:hover {
    font-weight: 600;
    color: $primary;
    svg {
      color: $primary;
    }
  }

  &.active {
    font-weight: 600;
    color: $primary;
    svg {
      color: $primary;
    }
  }
}

.dashboard-tabs .nav-link {
  padding-bottom: 10px;
}

.nav-heading {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  color: $gray-600;
  letter-spacing: 1px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 10px;
}
